<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="clockingDevices" type="Data.FaceID.FaceIDConfig, Data.FaceID" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <clockingDevices daysBack="150">
    <devices>
     <add name="Device1" number="1" ipAddress="172.16.0.110" /> <!-- Outside NVest -->
      <!--<add name="Device2" number="2" ipAddress="172.16.0.111" /> Outside NVest -->
      <!--<add name="Device3" number="3" ipAddress="172.16.0.112" />--><!-- Upstairs EL   --><!--
      <add name="Device4" number="4" ipAddress="172.16.0.113" />--><!-- IET           --><!--
      <add name="Device5" number="5" ipAddress="172.16.0.114" />--><!-- Health care   --><!--
      <add name="Device6" number="6" ipAddress="172.16.0.115" />--><!-- Short Term    -->
    </devices>
  </clockingDevices>

  <log4net>
    <appender name="Console" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Exceptions.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%identity] [%thread] [%level] [%logger] - %message%newline%exception%stacktrace" />
      </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="qbarnard@nvestholdings.co.za" />
      <from value="system@nvestholdings.co.za" />
      <subject value="Exception from Intranet" />
      <smtpHost value="172.16.0.5" />
      <bufferSize value="512" />
      <lossy value="true" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date [%thread] %-5level %logger [%property{NDC}] %newline [%identity] - %message %newline %newline %newline %exception %newline %newline %stacktrace" />
      </layout>
    </appender>

    <root>
      <level value="ERROR" />
      <appender-ref ref="Console" />
      <!-- Write to Visual Studio -->
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
  </log4net>

  <system.net>
    <mailSettings>
      <smtp from="clockingsystem@nvestholdings.co.za">
        <network host="mail" port="25" userName="system" password="P@55word" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <identity impersonate="false" />
    <authentication mode="Windows" /> 
  
    <authorization>
      <deny users="?"  />
    </authorization>

  </system.web>

  <system.webServer>

    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff .woff" />
    </staticContent>
        <directoryBrowse enabled="true" />

  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <connectionStrings>
     <!--<add name="Intranet" connectionString="Password=Welcome2;Persist Security Info=True;User ID=sa;Initial Catalog=Intranet-New;Data Source=pacific\sqlexpress" providerName="System.Data.SqlClient" />-->
    <add name="Intranet" connectionString="Password=Welcome2;Persist Security Info=True;User ID=sa;Initial Catalog=Intranet-New;Data Source=pacific\sqlexpress" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-4.5.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="TonerFromEmail" value="system@nvestholdings.co.za" />
    <add key="TonerCcAddress" value="admin@nvestholdings.co.za" />
    <add key="NfbTellNumber" value="043 735 2000" />
    <add key="WebRequestTo" value="mtshona@nvestholdings.co.za" />
    <add key="systemAdminEmail" value="choole@nvestholdings.co.za" />
    <add key="systemAdminName" value="Chris" />
    <add key="Gallery" value="\\win-dev-0001\Intranet\Content\Gallery" />
  </appSettings>
  
  <location path="api/AppointmentClocking/RemoteClockIn">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="api/BreezeData/SyncDeviceTimes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="api/BreezeData/ProcessClockingData">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="api/BreezeData/IncompleteClockData">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="api/BreezeData/SendReminderToClockIn">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="api/BreezeData/AutoLeaveApp">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>