<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net40" />
  <package id="Antlr3.Runtime" version="3.5.0.3-alpha002" targetFramework="net40" />
  <package id="bootstrap" version="3.0.1" targetFramework="net40" />
  <package id="bootstrap.less" version="3.3.5" targetFramework="net40" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.14.30" targetFramework="net40" />
  <package id="Breeze.Client" version="1.5.4" targetFramework="net40" />
  <package id="Breeze.Server.WebApi.Core" version="1.4.6" targetFramework="net40" />
  <package id="Breeze.Server.WebApi.EF" version="1.4.6" targetFramework="net40" />
  <package id="CsvHelper" version="2.13.2.0" targetFramework="net40" />
  <package id="dotless" version="1.4.0.0" targetFramework="net40" />
  <package id="Durandal" version="1.2.0" targetFramework="net40" />
  <package id="Durandal.Router" version="1.2.0" targetFramework="net40" />
  <package id="Durandal.Transitions" version="1.2.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="FontAwesome" version="4.4.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.7" targetFramework="net40" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net40" />
  <package id="jQuery" version="2.1.4" targetFramework="net40" />
  <package id="knockoutjs" version="3.3.0" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR" version="1.1.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.1.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.JS" version="1.1.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.1.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="1.1.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.1.0-alpha-120809" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.OData" version="4.0.30506" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.8.3" targetFramework="net40" />
  <package id="Moment.js" version="2.10.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net40" />
  <package id="OpenRiaServices.Server" version="4.4.1.0" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Q" version="2.0.2-experimental" targetFramework="net40" />
  <package id="RequireJS" version="2.1.11" targetFramework="net40" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="net40" />
  <package id="Sammy.js" version="0.7.5" targetFramework="net40" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net40" />
  <package id="System.Web.Optimization.Less" version="1.3.4" targetFramework="net40" />
  <package id="TinyMCE.jQuery" version="4.2.6" targetFramework="net40" />
  <package id="toastr" version="2.1.1" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net40" />
  <package id="Twitter.Bootstrap.Less" version="3.3.5" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.0.6" targetFramework="net40" />
  <package id="WebGrease" version="1.6.0" targetFramework="net40" />
</packages>