<section style="width: 100%;">
    <div class="post">
        <h2 class="title"><a href="#">Request Web Access</a></h2>
    </div>
    <hr />
    <form id="webAccessForm">
        
        <div id="sectionContainer" style="width: 100%;">
           <!-- <div class="tonerRowContainer">
                <div class="tonerResultLabelCell">
                    Name and Surname:
                </div>
                <div class="tonerResultDataCell">
                    <input type="text" id="txtNameSurname" />
                </div>
            </div>
            
            
            <div class="tonerRowContainer">
                <div class="tonerResultLabelCell">
                    Your email address:
                </div>
                <div class="tonerResultDataCell">
                    <input type="text" id="txtEmailAddress" />
                </div>
            </div>
            -->
            
            <div class="tonerRowContainer">
                <div class="tonerResultLabelCell">
                    Website Address:
                </div>
                <div class="tonerResultDataCell">
                    <input type="text" id="txtWebAddress" />
                </div>
            </div>
            
            <div class="tonerRowContainer">
                <div class="tonerResultLabelCell">
                    Motivation for access:
                </div>
                <div class="tonerResultDataCell">
                    <textarea id="txtMotivation" style="height: 100px;"></textarea>
                </div>
            </div>
            <div style="padding-left: 0; color: red;">
                <ul id="validation"></ul>
            </div>
            <div class="pull-right" style="padding-right: 15px">
                <button data-bind="click: requestWebAccess" class="btn">Send Request</button>
                <button class="btn" data-bind="click: cancel">Cancel</button>
            </div>
        </div>
    </form>
</section>
