<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="clockingDevices" type="Data.FaceID.FaceIDConfig, Data.FaceID"/>
    </configSections>

    <connectionStrings>
        <add name="Intranet" connectionString="Password=Welcome2;Persist Security Info=True;User ID=sa;Initial Catalog=Intranet;Data Source=172.16.1.0" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <clockingDevices daysBack="200">
        <devices>
            <!--<add name="Device1" number="1" ipAddress="172.16.0.110" />-->
            <!-- Outside IT    -->
            <add name="Device2" number="2" ipAddress="172.16.0.111"/>
            <!-- Outside NVest -->
            <add name="Device3" number="3" ipAddress="172.16.0.112"/>
            <!-- Upstairs EL   -->
            <add name="Device4" number="4" ipAddress="172.16.0.113"/>
            <!-- IET           -->
            <add name="Device5" number="5" ipAddress="172.16.0.114"/>
            <!-- Health care   -->
        </devices>
    </clockingDevices>

    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
