<div class="messageBox thought" style="width: 700px; height: 100%">
    <div class="modal-header">
        <h3>Why are you cancelling</h3>
    </div>
    <div class="modal-body">
        <div class="control-wrapper">
            <label>Reason:</label>
            <span>
                <textarea data-bind="value: leave.reasonForAction"    ></textarea>
            </span>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" data-bind="click: clickSave">Save</button>
        <button class="btn" data-bind="click: clickCancel">Cancel</button>
    </div>
</div>
